addons/node-red/data/flows.json
[{"id":"89c7ed9a.7c74d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b5069c60.67ab58","type":"mqtt-broker","z":"","name":"local mosquitto","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"946defe7.9b0918","type":"mqtt in","z":"89c7ed9a.7c74d","name":"Zwave message","topic":"zwave/#","qos":"2","datatype":"auto","broker":"b5069c60.67ab58","x":170,"y":60,"wires":[["d970ce21.360598"]]},{"id":"b8661975.1261a8","type":"mqtt out","z":"89c7ed9a.7c74d","name":"Publish","topic":"","qos":"","retain":"","broker":"b5069c60.67ab58","x":520,"y":140,"wires":[]},{"id":"d970ce21.360598","type":"debug","z":"89c7ed9a.7c74d","name":"debug zwave message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":60,"wires":[]},{"id":"c084cb52.d1a858","type":"inject","z":"89c7ed9a.7c74d","name":"Switch binary OFF","topic":"dev/$YOUR_LOCATION$/$YOUR_NAME$/switch_binary/switch/set","payload":"{\"value\":false}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":140,"wires":[["b8661975.1261a8"]]}]